<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Group-C5</title>
    
        <!-- Custom fonts for this template-->
        <link href= "{{ url_for('static', filename='Public/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    
        <!-- Custom styles for this template-->

        <link href= "{{ url_for('static', filename='Public/css/sb-admin-2.min.css')}}" rel="stylesheet">
        <link href= "{{ url_for('static', filename='Public/css/project.css')}}" rel="stylesheet">
        

    <!-- Custom styles for this page -->
    <link href="{{ url_for('static', filename='Public/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body id="page-top">
    
        <!-- Page Wrapper -->
        <div id="wrapper">
    
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Dashboard.html">
                    <div class="sidebar-brand-text mx-3">Group-C5</div>
                </a>
    
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
    
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link " href="{{url_for('dashboard')}}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
    
                
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ url_for('to_sprintboard_table')}}" >
                        <i class="fas fa-fw fa-cog"></i>
                        <span>SprintBoard</span>
                    </a>
                </li>
     
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{url_for('members')}}">
                        <i class="fas fa-user-friends"></i>
                        <span>Members</span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{url_for('logout')}}">
                        <i class="fa fa-sign-out"></i>
                        <span>Sign Out</span>
                    </a>
                </li>
                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
    
            </ul>
            <!-- End of Sidebar -->
            

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
    
                <!-- Main Content -->
                <div id="content">
    
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between ">
                            <h1 class="h3 mb-0 text-gray-800">Sprintboard</h1>
                        </div>   
                        
                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                            <!-- content start -->
                        <div class="container-fluid">
                          <div class="d-flex justify-content-end">
                           <button type="button" class="btn btn-outline-primary justify-content-center my-4 mx-2"><a href="/addtask/{{sprintnumber}}">Add New Task</a></button>
                           <button type="button" class="btn btn-outline-primary justify-content-center my-4 mx-2">Delete</button>
            
                          </div>
                        
                              <!-- changes made -->
                              <div class="row d-flex justify-content-between">
                                <div id="container" class="col-md-12 px-0 my-4">
                                  <h1 class="cards bg-gradient-warning">To-Do List</h1>
                            
                                  <ul class="cards ">
                                    {% for task in taskinsprint %}
                                    {% if task.Status == "To_Do" %}
                                    <li class="cards"><div class="pl-4">{{ task.Name }} <button class = "btn btn-outline-primary btn-sm my-1 mx-2" style="float: right;"><a href="/start_task_in_sprint/{{task.uniqueid}}/{{sprintnumber}}">Start Task</a></button></div></li>
                                    {% endif %}
                                    {% endfor %}
                                  </ul>

                                  
                                </div>
                                <div id="container" class="col-md-12 px-0 my-4">
                                  <h1 class="cards bg-gradient-primary">In-Progress</h1>
                              
                                
                                  <ul class="cards">
                                    {% for task2 in taskinsprint %}
                                    {% if task2.Status == "In_progress" %}
                                    <li class="cards"><div class="pl-4">{{ task2.Name }}<button class = "btn btn-outline-primary btn-sm my-1  mx-2" style="float: right;"><a href="/end_task_in_sprint/{{task2.uniqueid}}/{{sprintnumber}}">End Task</a></button></div></li>
                                    {% endif %}
                                    {% endfor %}
                                  </ul>
                                </div>
                                <div id="container" class="col-md-12 px-0 my-4">
                                  <h1 class="cards bg-gradient-success">Complete</h1>
                          
                                
                                  <ul class="cards">
                                    {% for task3 in taskinsprint %}
                                    {% if task3.Status == "Completed" %}
                                    <li class="cards"><div class="pl-4">{{ task3.Name }} <span class = "mx-2 " style="float: right; font-size: small;">Time taken = {{ task3.Timespent }}</span></div></li>
                                    {% endif %}
                                    {% endfor %}
                                  </ul>

                                </div>
                                
                                
                              </div>
                              <!-- changes made -->
                            </div>
                    
                    
                            <!-- content end -->
                    
                    <!-- End of Main Content -->
                    
                        
                                </div>
                                <!-- End of Content Wrapper -->
                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                      <div class="container my-auto">
                          <div class="copyright text-center my-auto">
                              <span>Copyright &copy; Project Hawk 2022</span>
                          </div>
                      </div>
                  </footer>
                  <!-- End of Footer -->
                   
        </div>
        <!-- End of Page Wrapper -->
    
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
   
        
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename= 'Public/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'Public/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename= 'Public/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename= 'Public/js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename= 'Public/vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'Public/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename= 'Public/js/demo/datatables-demo.js') }}"></script>
    
    </body>
</html>


    
  